body{
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

head .page-top {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
}

section {
  padding: 70px 0;
}

header .intro-text .intro-lead-in {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
}


section h3.section-subheading {
  margin-bottom: 0;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  line-height: 26px
}

section#contact {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  color: white;
}

.navbar-default .navbar-brand {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
